.technology {
  height: 100vh;
  padding: 10vh 0;
  background-color: $secondary-color;
  h1 {
    color: $main-font-color;
  }
  p {
    color: $secondary-font-color;
  }
  hr {
    width: 288px;
    border-width: 4px;
    border-color: $accent-color;
  }
  .logo-row {
    margin-top: 68px;
    padding: 0 10%;
  }
  .text-row {
    padding: 0 10%;
    p {
      color: $secondary-font-color;
      font-family: $main-font;
      margin-top: 25px;
    }
  }
}

.member {
  height: 160vh;
  padding: 10vh 0;
  background-color: $tertiary-color;
  h1, p {
    color: $tertiary-font-color;
  }
  .member-image-row {
    padding: 0 6%;
    margin-top: 46px;
    .image-wrapper {
      width: 184px;
      background-color: #fff;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      img {
        max-width: 184px;
      }
    }
  }
  .name-row {
    padding: 0 6%;
    h4 {
      color: $tertiary-font-color;
      margin-top: 44px;
    }
    h5 {
      font-family: $main-font;
      color: $accent-color;
      font-size: 0.7em;
      letter-spacing: 2px;
    }
  }
  hr {
    width: 170px;
    border-width: 4px;
    border-color: $accent-color;
  }
  .bio-row {
    padding: 0 6%;
    p {
      text-align: left;
      font-size: 0.9em;
      max-width: 420px;
      margin-left: 6rem;
      line-height: 2;
      letter-spacing: 2px;
    }
  }
}

.about {
  height: 82vh;
  padding: 10vh 0;
  background-color: $secondary-color;
  box-shadow: 0 0 7px rgba(0, 0, 0, 1);
  hr {
    width: 142px;
    border-width: 4px;
    border-color: $accent-color;
  }
  h1, p {
    color: $main-font-color;
  }
  .info-row {
    margin-top: 64px;
    p {
      font-size: 1.1em;
      text-align: left;
      span {
        font-weight: bold;
      }
    }
  }
}



// *****************************************
// Added class for fade-in javascript effect
// *****************************************

.fade-in {
  opacity: 0;
  transition: 2s ease;
  &.in-view {
    opacity: 1;
    transition: 2s ease;
  }
}
