// *****************
// MOBILE NAVIGATION
// *****************

.nav-mobile {
  display: none;
}

.nav-desktop {
  display: none;
}

// Binds to JS Toggle
.navbar-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 60px;
  width: 60px;
}

@media (max-width: 800px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: $main-color;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 6px #262626;
    z-index: 100;
    text-align: left;
    img {
      margin: 8px 0 0 20px;
    }
    .navbar-mobile {
      display: block;
      margin-top: 5px;
    }
    .nav-mobile-list {
      display: none;
      margin-top: -2px;
      width: 100%;
      list-style-type: none;
      background: $main-color;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      padding: 70px 0 40px 0;
      li {
        float: none;
        hr {
          width: 80px;
          border-color: rgba(0, 0, 0, 0.3);
        }
        a, a:visited {
          font-family: $link-font;
          background: $main-color;
          color: $main-font-color;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-x {
  position: absolute;
  left: 10px;
  top: 22px;
  cursor: pointer;
  padding: 5px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $main-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}


// ******************
// DESKTOP NAVIGATION
// ******************

@media (min-width: 801px) {
  .nav-desktop {
    display: block;
    height: 80px;
    background-color: $main-color;
    box-shadow: 0 0 6px #262626;
    position: fixed;
    width: 100%;
    z-index: 10;
    .nav-left {
      img {
        margin: 13px 0 0 120px;
      }
    }
    .nav-right {
      ul {
        list-style-type: none;
        display: inline-flex;
        float: right;
        padding-top: 30px;
        li {
          padding-right: 20px;
          a.single, a:visited {
            font-family: $link-font;
            color: $nav-link-color;
            text-decoration: none;
            &:hover {
              text-decoration: none;
              color: $nav-link-hover-color;
            }
            &.active {
              color: $nav-link-hover-color;
            }
          }
        }
      }
    }
  }
}


// ********************
// SCROLL TO TOP BUTTON
// ********************

#topButton, #topButton:visited {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border: 1px solid #3a62b6;
    border-radius: 50%;
    background-color: #3a62b6;
    color: $tertiary-font-color;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: 0.6s ease;
}

#topButton:hover {
    background-color: darken(#3a62b6, 10%);
    border-color: darken(#3a62b6, 10%);
    transition: 0.6s ease;
}
