.nav-desktop {
  height: 80px;
  background-color: $main-color;
  box-shadow: 0 0 6px #262626;
  position: fixed;
  width: 100%;
  z-index: 10;
  .nav-left {
    img {
      padding-top: 13px;
      padding-left: 130px;
    }
  }
  .nav-right {
    ul {
      list-style-type: none;
      display: inline-flex;
      float: right;
      padding-top: 30px;
      li {
        padding-right: 25px;
        a, a:visited {
          font-family: $link-font;
          color: $nav-link-color;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            color: $nav-link-hover-color;
          }
          &.selected {
            color: $nav-link-hover-color;
          }
        }
      }
    }
  }
}
