// *****************
// MOBILE NAVIGATION
// *****************

.nav-mobile {
  display: none;
}

// Binds to JS Toggle
.navbar-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 60px;
  width: 60px;
}

@media only screen and (max-width: 800px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: $main-color;
    width: 100%;
    height: 70px;
    padding: 55px 0 15px;
    line-height: 70px;
    z-index: 100;
    .navbar-mobile {
      display: block;
      margin-top: 5px;
    }
    .nav-mobile-list {
      display: none;
      margin-top: -2px;
      width: 100%;
      list-style-type: none;
      background: $main-color;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      padding-top: 40px;
      li {
        float: none;
        hr {
          width: 80px;
          border-color: rgba(0, 0, 0, 0.3);
        }
        a, a:visited {
          font-family: $link-font;
          background: $main-color;
          color: $main-font-color;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-x {
  position: absolute;
  left: 10px;
  top: 22px;
  cursor: pointer;
  padding: 5px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $main-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}


// ******************
// DESKTOP NAVIGATION
// ******************

.nav-desktop {
  height: 80px;
  background-color: $main-color;
  box-shadow: 0 0 6px #262626;
  position: fixed;
  width: 100%;
  z-index: 10;
  .nav-left {
    img {
      padding-top: 13px;
      padding-left: 130px;
    }
  }
  .nav-right {
    ul {
      list-style-type: none;
      display: inline-flex;
      float: right;
      padding-top: 30px;
      li {
        padding-right: 20px;
        a, a:visited {
          font-family: $link-font;
          color: $nav-link-color;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            color: $nav-link-hover-color;
          }
        }
      }
    }
  }
}
