// ***********
// PAGE COLORS
// ***********

$main-color: #fff;
$secondary-color: #fafafa;
$tertiary-color: #595858;
$accent-color: #96d1ef;
// $accent-color: rgba(150, 209, 239, 1);
$footer-color: #2e2d2d;

// *********************
// FONTS AND FONT COLORS
// *********************

$main-font: 'Open Sans', sans-serif;
$link-font: 'Muli', sans-serif;
$main-font-color: #595858;
$secondary-font-color: #828282;
$tertiary-font-color: #fff;
$nav-link-color: #8c8c8c;
$nav-link-hover-color: #58a9ec;
$footer-text-color: #999;
